* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: royalblue;
}

.boxTarefas {
  width: 40%;
  max-width: 860px;
  background-color: seashell;
  padding: 30px 60px;
  margin: 0.7rem auto;
  border-radius: 10px;
  overflow: hidden;
}

.addTarefas {
  position: fixed;
  right: 10px;
  bottom: 10px;
  top: 1.7rem;
  left: 58rem;
  background-color: rgb(160, 133, 185);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modalContent {
  max-width: 600px;
  padding: 50px 40px;
  border-radius: 20px;
  background-color: rgba(250, 244, 244, 0.4);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-subtitle {
  color: white;
  margin: 2rem;
  text-align: center;
}

.modalContent input {
  height: 2rem;
  border-radius: 10px;
  outline: none;
  text-align: center;
}

.modalContent button {
  height: 2rem;
  width: 6rem;
  margin-left: 0.2rem;
  border: none;
  background-color: #0095f6;
  border-radius: 7px;
  color: seashell;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.lista-tarefas {
  margin-top: 2.3rem;
  border-bottom: 1px solid rgb(82, 78, 78);
}


.addTarefas:hover {
  background-color:rgb(156, 140, 170);
}